@page "/xmldata"
@using DominosCutScreen.Shared
@using System.Xml.Serialization;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@implements IDisposable
@inject HttpClient Http

<PageTitle>XML Data</PageTitle>

<input type="text" @bind=Address/>
<button @onclick=NewFetch>Fetch</button>
<button @onclick=Clear>Clear</button>

<div>@Content</div>

@if (BumpHistory.Count == 0)
{
    @if (string.IsNullOrWhiteSpace(Content))
    {
        <div><p>Attempting to load bump history</p></div>
    }
    else
    {
        <div><p>There is no bump history yet</p></div>
    }
}
else
{
    @foreach (var history in BumpHistory)
    {
        <div>
            <ul>
                <li>@history.Description</li>
                <ul>
                @foreach (var mod in history.ToppingModifications)
                {
                    <li>@mod.ToppingAmountDescription @mod.ToppingDescription</li>
                }
                </ul>
            </ul>
        </div>
    }
}

@code {
    private string Address = "http://10.104.37.32:59108/makelines/2/orderHistory";
    private string Content = string.Empty;
    private System.Timers.Timer FetchTimer = new System.Timers.Timer();
    private List<MakeLineOrderItemHistory> BumpHistory = new List<MakeLineOrderItemHistory>();

    protected override async Task OnInitializedAsync()
    {
        bool bSuccess = await GetData();
        if (!bSuccess)
            return;

        FetchTimer.AutoReset = true;
        FetchTimer.Interval = 5000;
        FetchTimer.Elapsed += async (object? sender, System.Timers.ElapsedEventArgs e) => {
            await GetData();
            await InvokeAsync(StateHasChanged);
        };
        FetchTimer.Start();
    }

    protected async Task<bool> GetData()
    {
        HttpResponseMessage? data;
        Console.WriteLine("Attempting to fetch data from local makeline server");
        try
        {
            data = await Http.GetAsync(Address);
            if (!data.IsSuccessStatusCode)
            {
                Console.WriteLine($"\tFailed: {data.ReasonPhrase}");
                Content = $"Unable to connect: {data.ReasonPhrase}";
                return false;
            }
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"\tFailed: {e.Message}");
            return false;
        }

        Console.WriteLine($"\tConnected: {data.StatusCode}");

        XmlSerializer serializer = new XmlSerializer(typeof(ArrayOfMakeLineOrderItemHistory));
        using (var reader = new StringReader(await data.Content.ReadAsStringAsync()))
        {
            var rootObject = serializer.Deserialize(reader) as ArrayOfMakeLineOrderItemHistory;
            if (rootObject is null)
            {
                Console.WriteLine("\tFailed: Invalid XML");
                Content = "Invalid XML";
                return false;
            }
            else
            {
                Console.WriteLine($"\tSuccess. Loaded {rootObject.Items.Count} items");
                Content = "Successfully loaded bump history";
                BumpHistory.AddRange(rootObject.Items);
                BumpHistory = BumpHistory.Distinct().ToList();
            }
        }

        return true;
    }

    private async void NewFetch()
    {
        FetchTimer.Stop();
        bool bSuccess = await GetData();
        if (bSuccess)
        {
            FetchTimer.Start();
        }
    }

    private void Clear()
    {
        BumpHistory.Clear();
    }

    public void Dispose()
    {
        FetchTimer?.Dispose();
    }
}
