<div class="d-flex flex-column flex-shrink-0 bg-dark" style="width: 4.5rem; height: 100vh;">
    <a class="d-block p-3 text-decoration-none" href="/">
        <img />
    </a>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li><NavLink class="nav-link py-3 border-bottom" href="gbcounter"><span class="oi oi-plus"></span></NavLink></li>
        <li><NavLink class="nav-link py-3 border-bottom" href="xmldata"><span class="oi oi-list-rich"></span></NavLink></li>
    </ul>

    <ul class="nav nav-pills nav-flush flex-column mt-auto text-center">
        <li><a class="d-flex align-items-center justify-content-center p-3 text-decoration-none" href="#settingsModal" data-bs-toggle="modal" data-bs-target="#settingsModal"><span class="oi oi-cog"></span></a></li>
    </ul>
</div>

@code {
}
