@using DominosCutScreen.Shared;
@inject SettingsService Settings

<!-- Makeline Host -->
<div class="form-floating mb-1">
    <InputText class="form-control" @bind-Value="Settings.MakelineServer" @bind-Value:after="OnMakelineHostChanged" />
    <label class="form-label">Makeline Host</label>
</div>

<!-- Makeline Code -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.MakelineCode" @bind-Value:after="OnMakelineCodeChanged" />
    <label>Makeline Code</label>
</div>

<!-- Makeline Fetch Time -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.FetchInterval" @bind-Value:after="OnMakelineFetchTimeChanged" />
    <label>Makeline Fetch Time (s)</label>
</div>

<!-- Oven Time -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.OvenTime" @bind-Value:after="OnOvenTimeChanged" />
    <label>Oven Time (s)</label>
</div>

<!-- Oven Grace Time -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.GraceTime" @bind-Value:after="OnOvenGraceTimeChanged" />
    <label>Oven Grace Time (s)</label>
</div>

<!-- Oven Alert Gap Time -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.AlertInterval" @bind-Value:after="OnOvenAlertGapTimeChanged" />
    <label>Oven Alert Gap Time (s)</label>
</div>

<!-- Timed Order Seconds Per Pizza -->
<div class="form-floating mb-1">
    <InputNumber class="form-control" @bind-Value="Settings.TimedOrderSecondsPerPizza" @bind-Value:after="OnTimedOrderAlertTimeChanged" />
    <label>Timed Order Seconds Per Pizza (s)</label>
</div>

<!-- Quiet Time -->
<div class="form-floating mb-1">
    <div class="d-flex flex-row justify-content-between form-control h-auto">
        <!-- IsEnabled -->
        <div class="form-floating mb-1 flex-fill me-1">
            <div class="form-control form-check form-switch h-100">
                <input type="checkbox" class="form-check-input mx-auto" @bind="Settings.QuietTime.IsEnabled" @bind:after="OnQuietTimeEnabledChanged" />
            </div>
            <label class="text-nowrap">Is Enabled</label>
        </div>

        <!-- Start -->
        <div class="form-floating mb-1 flex-fill me-1">
            <input type="time" class="form-control" @bind="Settings.QuietTime.Start" @bind:after="OnQuietTimeStartChanged" />
            <label>Start</label>
        </div>

        <!-- End -->
        <div class="form-floating mb-1 flex-fill">
            <input type="time" class="form-control" @bind="Settings.QuietTime.End" @bind:after="OnQuietTimeEndChanged" />
            <label>Start</label>
        </div>
    </div>
    <label>Quiet Time</label>
</div>

@code
{
    private async Task OnMakelineHostChanged()
    {

    }

    private async Task OnMakelineCodeChanged()
    {

    }

    private async Task OnMakelineFetchTimeChanged()
    {

    }

    private async Task OnOvenTimeChanged()
    {

    }

    private async Task OnOvenGraceTimeChanged()
    {

    }

    private async Task OnOvenAlertGapTimeChanged()
    {

    }

    private async Task OnTimedOrderAlertTimeChanged()
    {

    }

    private async Task OnQuietTimeEnabledChanged()
    {
        
    }

    private async Task OnQuietTimeStartChanged()
    {

    }

    private async Task OnQuietTimeEndChanged()
    {

    }
}
